<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <span style = "color:red;"><%= devise_error_messages! %></span>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, required: true %>
  </p>

  <p>
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth, start_year: 1980, end_year: 2020,
    order: [:day, :month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' } %>
  </p>

  <p>
    <%= f.label :Gender %>
    <%= f.radio_button :gender, "male" %>
    <%= f.label :gender, value: "male"  %>
    <%= f.radio_button :gender, "female" %>
    <%= f.label :gender, value: "female" %>
  </p>

  <p>
    <%= f.label :country_id %><br />
    <%= f.collection_select :country_id, Country.order(:name), :id, :name,
      {include_blank: true}, required: true %>
  </p>

  <p>
    <%= f.label :state_id %><br />
    <%= f.grouped_collection_select :state_id, Country.order(:name), :states, :name, :id, :name, {include_blank: true}, required: true %>
  </p>

  <p>
    <%= f.label :city_id %><br />
    <%= f.grouped_collection_select :city_id, State.order(:name), :cities, :name, :id, :name, {include_blank: true}, required: true %>
  </p>

  <p>
    <%= f.label :contact %><br />
    <%= f.text_field :contact, required: true %>
  </p>

  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email, required: true %>
  </p>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username, required: true %>
  </p>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <p>
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </p>

  <p>
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </p>

  <p>
    <%= f.submit "Update", class:"btn btn-xs btn-primary" %>
  </p>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", current_user, class:'label label-info' %>