<% if @user.image.present? %>
  <%= image_tag @user.image.url, class: "img_circular", size: "200x180" %>

<% else %>

  <% if @user.gender == "female" %> 
      <img src="/system/comments/images/000/000/007/images.png?1517403672" alt="female_user", height = "200", width = "200">
  <% else %>
      <img src="/system/comments/images/000/000/006/images.png?1517403658" alt="male_user", height = "200", width = "200">
  <% end %>

<% end %>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @user.date_of_birth %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Country:</b>
  <%= @user.country.name %>
</p>

<p>
  <b>State:</b>
  <%= @user.state.name %>
</p>

<p>
  <b>City:</b>
  <%= @user.city.name %>
</p>

<p>
  <b>Contact:</b>
  <%= @user.contact %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<h4><%= link_to "Posts", posts_user_path, class: 'label label-success' %></h4>
<%= link_to 'Back', root_path, class:'label label-info' %>