<%= form_tag(root_path, method: "get", remote: true) do %>

  <%= text_field_tag(:term, params[:term]) %>
  <%= select_tag(:category_id, options_for_select([['Educational', 1], ['Political', 2], ['Entertainment', 3]]), prompt: 'Choose category') %>
  <button type="submit", class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search" aria-hidden="true">Search</span></button>

<% end %>

<h1>List of Posts</h1>

<h4><%= link_to 'Create post', new_post_path, class:'label label-default'%></h4>

<div id = "return_table" >
  <%= render 'table' %>
</div>

<h4 style = "text-align:right;"><%= paginate @posts %></h4>

<script>
	setTimeout(function(){
		$(".flash_error").hide();
	}, 5000);
</script>