<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Form</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style = "padding:10px;">

  <div style = "text-align: right; font-size: 17px;">

    <% if user_signed_in? %>
        <% if current_user.image.present? %>
            <%= image_tag current_user.image.url, size: "32x32", class: "img_circular", title: current_user.name %>
        <% else %>
            <% if current_user.gender == "female" %> 
              <img src="/system/comments/images/000/000/007/images.png?1517403672" alt="female_user", height = "40", width = "40", title = "<%= current_user.name %>" >
            <% else %>
              <img src="/system/comments/images/000/000/006/images.png?1517403658" alt="male_user", height = "40", width = "40", title = "<%= current_user.name %>" >
            <% end %>
        <% end %>

      Logged in as <strong><%= current_user.email %></strong>     
      <%= link_to 'Edit profile', edit_user_registration_path,  class:'label label-default' %> |
      <%= link_to "View Profile", current_user, class:'label label-success' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class:'label label-danger' %>

    <% else %>

      <%= link_to "Sign up", new_user_registration_path, class:'label label-default' %> |
      <%= link_to "Login", new_user_session_path, class:'label label-danger' %>
    <% end %>

    <h3 style = "text-align: left;"><%= link_to 'Home', root_path, class: "label label-primary" %></h3>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "flash_#{name}" %>
  <% end %>

  <%= yield %>

  </body>
</html>